[submodule "orange"]
	path = orange
	url = git@github.com:tiandidoushidali/orange.git
[submodule "ants"]
	path = ants
	url = git@github.com:panjf2000/ants.git
[submodule "gin"]
	path = gin
	url = git@github.com:tiandidoushidali/gin.git
[submodule "test_sub"]
	path = test_sub
	url = git@github.com:tiandidoushidali/test_sub.git
